html
  head
    title
      | Doc Api
    style.
      .col-left{
        top: 0;
        bottom: 0;
        width: 300px;
        float: left;
        position: fixed;
        line-height: 1.5;
        padding-bottom: 50px;
      }
      .col-left div.content{
        max-height: 97%;
        overflow-y: scroll;
      }
      .col-left ul{
        margin-left: 0px;
        padding-left: 8px;
      }
      .col-right{
        display: flex;
        flex: 70%;
        width: 80%;
        float: right;
        border-left: 3px inset #00838F;
      }
      ul li{
        display: block
      }
      .content{
        padding: 0px 10px
      }
      .content .api-header{
        display: block
      }
      .base-api h2{
        margin: 0;
        padding: 0

      }
      .api-list h4{
        margin:0
      }
      h2,h4,h5{
        margin: 0
      }
      p.description{
        margin: 0;
        margin-left: 10px;
        color: #757575;
        padding: 5px;
      }
      .api-list{
        padding-left: 15px;
      }
      .post{
        color: #FBC02D
      }
      .get{
        color: #00C853
      }
      .put{
        color: #3D5AFE
      }
      .link_request{
        border: 1px solid #ccc;
        background: #F5F5F5;
        padding: 3px;
        margin: 2px;
      }
      .request-content{
        margin-bottom: 10px;
        padding-left: 15px;
      }
      span.mode{
        margin-left: 20px;
        color: #9E9E9E;
        font-weight: normal;
      }
      .table-detail{
        margin-top: 5px;
        margin-left: 5px;
        border: 1px solid #ddd;
        border-spacing: 0;
      }
      .table-detail tr td{
        border: 1px solid #ddd;
        padding: 5px 10px;
      }
      .table-detail tbody tr:nth-child(odd){
        background: #F9FBE7
      }
      .text-italic{
        font-style: italic;
      }
      .text-secondary{
        color: #B0BEC5
      }
      .text-primary{
        color: #0288D1
      }
      .method{
        width: 60px;
        display: inline-block;
      }
      .list-item{
        border: 1px solid #ccc;
        padding: 5px;
        margin-bottom: 5px
      }
  body
    div.col-left
      h2(style="margin-bottom: 5px").text-primary  
        | List API
      div.content
        ul(style="margin-top: 5px")
          each dta in data
            li
              b #{dta.info.name}
              ul
                each item in dta.item
                  li
                    - var link=(dta.info.name+'-'+item.name).replace(" ","_")
                    div.method(class=item.request.method) #{item.request.method} 
                    a(href=base_url+'#'+link)
                      span.text-primary #{item.name}
    div.col-right
      .content
        each dta in data
          div.base-api
            h2 #{dta.info.name}
            p.description #{dta.info.description}
          div.api-list
            each item in dta.item
              div.list-item
                - var link=(dta.info.name+'-'+item.name).replace(" ","_")
                - var request=item.request
                - var header=request.header
                - var request_body=request.body
                h4.title(id=link)
                  div.method(class=request.method)
                    | #{item.request.method}
                  span 
                    | #{item.name}
                p.link_request
                  | http://#{item.request.url.raw}
                p.description
                  | #{item.request.description}
                div.request-content
                  h5
                    | Request Headers
                  table.table-detail
                    thead
                      tr
                        td
                          b Key
                        td
                          b Type
                        td
                          b Description
                    tbody
                    each h in header
                      tr
                        td #{h.key}
                        td #{h.type}
                        td.text-secondary.text-italic #{(h.description!=undefined) ? h.description : ''}
                div.request-content
                  if request_body
                    h5 
                      | Body 
                      - var mode=request_body.mode
                      span.mode #{mode}
                    table.table-detail
                      thead
                        tr
                          td 
                            b Key
                          td 
                            b Type 
                          td 
                            b Description 
                      tbody
                      each b in request_body[mode]
                        tr
                          td #{b.key}
                          td.text-primary #{b.type}
                          td #{b.description}
                  pre
          hr